<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                           http://www.springframework.org/schema/aop 
                           http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
                           http://www.springframework.org/schema/cache 
                           http://www.springframework.org/schema/cache/spring-cache-3.2.xsd">
  
  <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
    <property name="cacheManager">
      <bean class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
        <property name="configLocation" value="classpath:config/ehcache.xml" />
      </bean>
    </property>
  </bean>
  <aop:config>
    <aop:advisor advice-ref="userAdvisor" pointcut="target(com.zblog.service.UserService) and 
       (execution(* loadById(..)) || execution(* update(..)) || execution(* deleteById(..)))"/>
    
    <aop:advisor advice-ref="postAdvisor" pointcut="target(com.zblog.service.PostService) and 
       (execution(* loadReadById(..)) || execution(* update(..)) || execution(* deleteById(..)))"/>
  </aop:config>
  
  <cache:advice id="userAdvisor" cache-manager="cacheManager">
    <cache:caching cache="users">
      <!-- cache-put是每次都会执行该方法，并将执行结果以键值对的形式存入指定的缓存中 -->
      <cache:cacheable method="loadById" key="#p0" />
      <cache:cache-evict method="update" key="#p0.id" />
      <cache:cache-evict method="deleteById" key="#p0" />
    </cache:caching>
  </cache:advice>
  
  <cache:advice id="postAdvisor" cache-manager="cacheManager">
    <cache:caching cache="posts">
       <cache:cacheable method="loadReadById" key="#p0" />
       <cache:cache-evict method="update" key="#p0.id" />
       <cache:cache-evict method="deleteById" key="#p0" />
    </cache:caching>
  </cache:advice>
  
</beans>