<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
                           http://www.springframework.org/schema/aop 
                           http://www.springframework.org/schema/aop/spring-aop-4.1.xsd">

  <bean id="securityManager" class="org.apache.shiro.mgt.DefaultSecurityManager">
    <property name="realm">
      <bean class="com.zblog.service.shiro.StatelessRealm" />
    </property>
    <!-- 注意:不存储session -->
    <property name="subjectDAO.sessionStorageEvaluator.sessionStorageEnabled" value="false"/>
    <property name="sessionManager">
      <bean class="org.apache.shiro.session.mgt.DefaultSessionManager">
        <property name="sessionValidationSchedulerEnabled" value="false" />
      </bean>
    </property>
    <property name="subjectFactory">
      <!-- 不生产会话 -->
      <bean class="com.zblog.service.shiro.StatelessDefaultSubjectFactory" />
    </property>
  </bean>
  
   <!-- 相当于调用SecurityUtils.setSecurityManager(securityManager) -->
  <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
    <property name="staticMethod" value="org.apache.shiro.SecurityUtils.setSecurityManager"/>
    <property name="arguments" ref="securityManager"/>
  </bean>
  
  <!-- 注意：此处必须true,因为Controller没有接口 -->
  <aop:config proxy-target-class="true" />
  <bean class="com.zblog.service.shiro.EnhanceAuthorizationAdvisor">
    <property name="securityManager" ref="securityManager"/>
  </bean>
  
  <!-- Shiro生命周期处理器-->
  <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />
  
</beans>