<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
                           http://www.springframework.org/schema/context 
                           http://www.springframework.org/schema/context/spring-context-4.1.xsd
                           http://www.springframework.org/schema/tx 
                           http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">
   
  <context:annotation-config />
  <import resource="spring-service.xml" />
  <import resource="spring-cache.xml" />
  <import resource="spring-biz.xml" />
  <!-- 从Srping配置文件中根据id读取Bean -->
  <bean class="com.zblog.core.plugin.ApplicationContextUtil" />
  
  <context:property-placeholder location="classpath:jdbc.properties" />
  <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
	<property name="driverClassName" value="${jdbc.driverClassName}" />
	<property name="url" value="${jdbc.url}" />
	<property name="username" value="${jdbc.username}" />
	<property name="password" value="${jdbc.password}" />
  </bean>
	
  <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    <property name="dataSource" ref="dataSource" />
  </bean>

  <!-- 使用MapperScannerConfigurer和SqlSessionFactoryBean无法lazy-init -->
  <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
	 <property name="dataSource" ref="dataSource" />
	 <property name="configLocation" value="classpath:config/mybatis.xml" />
	 <property name="plugins">
       <array>
	     <bean class="com.zblog.core.plugin.PageInterceptor" />
         <!-- sql性能监控插件，实际生产环境不建议使用 -->
         <bean class="com.zblog.core.plugin.PerformanceInterceptor" />
       </array>
	 </property>
  </bean>
  
  <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
	<property name="basePackage" value="com.zblog.core.dal.mapper" />
	<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
  </bean>
  
  <!-- 此处注意:由于lucene索引aop需要和数据库协作,
       这里调高数据库事务优先级(保证数据库事务代码在其他需要协作的aop代码之前执行) -->
  <tx:annotation-driven transaction-manager="txManager" order="2" />

</beans>