<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
      "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zblog.common.dal.mapper.UserMapper">
   
   <select id="loadById" parameterType="java.lang.String" resultType="User">  
      select id, nickName,realName, email, status, createTime, creator, lastUpdate from user where id = #{id}
   </select>
   
   <select id="list" parameterType="PageModel" resultType="MapContainer">  
      select id, nickName,realName, email from user 
   </select>
   
   <insert id="insert" parameterType="User">
      insert into user(id,nickName,realName,email,status,description,createTime,creator,lastUpdate) 
         values(#{id},#{nickName},#{#realName},#{email},#{status},#{description},#{createTime},#{creator},#{lastUpdate})
   </insert>

   <delete id="deleteById">
	 delete from user where id = #{id}
  </delete>
	
</mapper>