<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
      "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zblog.core.dal.mapper.LinkMapper">
   <select id="list" resultType="Link">  
      select id, name, url, visible,createTime from link order by createTime desc
   </select>
   <select id="loadById" resultType="Link" parameterType="java.lang.String">  
      select id, name, url, notes from link where id=#{id} 
   </select>
   
   <insert id="insert" parameterType="Link">
      insert into link(id,name,url,notes,visible,creator,createTime) 
         values(#{id}, #{name}, #{url}, #{notes}, #{visible}, #{creator}, #{createTime})
   </insert>
   
   <update id="update" parameterType="Link">
     update link set name=#{name},url=#{url},notes=#{notes} where id=#{id}
   </update>
   
   <delete id="deleteById">
	 delete from link where id = #{id}
  </delete>
	
</mapper>